// About section styles
.about-content {
  position: relative;
  background-image: url("../images/bg-section-about-us.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 140vh;
  width: 100%;
  background-size: cover;
  color: white;
  text-align: center;

  article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2,
    p {
      margin-bottom: 60px;
    }

    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }

  button {
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
  }

  button:hover,
  button:active,
  button:focus {
    background-color: #fff;
    color: $blue;
  }

  @media (min-width: $tabletPortrait) {
    min-height: 80vh;
  }

  @media (min-width: $desktopMedium) {
    min-height: 70vh;
  }
}
