//CHANGE TYPE STYLES ON FONT VARIABLE WITH MEDIA QUERIES

.products-content {
  margin: 0;
  padding: 0;
  background-color: none;
  position: relative;
  top: -100px;

  .white-wave {
    max-width: 1016px;
    text-indent: -600px;
    overflow: hidden;

    img {
      max-width: initial;
    }
  }

  .heading {
    position: relative;
    text-align: center;
    top: -60px;

    h3 {
      font-size: 1.3em;
      padding: 0 90px;
      color: $grey;
      margin-bottom: 15px;
    }

    p {
      font-size: 0.75em;
      padding: 0 30px;
      color: $dark_grey;
    }
  }

  article {
    .product {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px 0;

      a {
        display: none;
      }
      img {
        width: 50%;
      }

      img:hover,
      img:active,
      img:focus {
        cursor: pointer;
      }

      h4 {
        font-size: 1.2em;
        color: $grey;
      }

      h4:hover, 
      h4:active,
      h4:focus{
        color: $blue;
      }

      h4:hover,
      h4:active,
      h4:focus {
        color: $blue;
        cursor: pointer;
      }
    }

    hr {
      margin: 0 20px;
      border: 0.85px solid $grey;
      opacity: 0.3;
    }
  }

  //Media Queries Start
  @media (min-width: $phonePortrait) {
    .white-wave {
      //   position: absolute;
      //   max-width: 100%;
      //   max-height: 100%;
      //   text-indent: 0;
      top: -25px;
      position: relative;

      //   img {
      //     max-width: 100%;
      // height: 120px;
    }

    .heading {
      position: relative;
      text-align: center;
      top: -55px;
    }

    // .products-list{
    //     height: 500px;
    //     border: 2px solid red;
    // }
  }

   
    @media screen and (min-width: $phoneLandscape) {
      .white-wave {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        text-indent: 0;
        img {
          // position: relative;
          // top: -20px;
          max-width: 100%;
        height: 130px;
        }
      }

      .heading{
        top: 60px;
      }

      .products-list{
        position: relative;
        top: 60px;
      }
    }

  @media screen and (min-width: $tabletPortrait) {
    top: -50px;
    z-index: 999;
    background-color: #fff;
    min-height: 350px;

    .white-wave {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      text-indent: 0;
      top: -75px;

      img {
        max-width: 100%;
      }
    }

    .heading {
      top: 30px;

      h3 {
        font-size: 2em;
        color: $dark_blue;

        padding: 0 90px;
        margin-bottom: 15px;
      }

      p {
        font-size: 0.75em;
        padding: 0 50px;
        color: $dark_grey;
      }
    }

    .products-list {
      display: flex;
      flex-direction: row;
      top: 55px;

      .product {
        flex: 1 1 100px;
        display: inline-block;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px 0;
        align-items: center;
        text-align: center;

        a {
          display: block;
          padding-top: 10px;
          color: $grey;
        }

        a:hover, 
        a:active,
        a:focus{
          text-decoration: none;
        }

        a:first-child {
          padding-top: 15px;
        }

        img {
          width: 75%;
        }

        h4 {
          font-size: 1.2em;
          margin-top: 15px;
          color: $blue;
        }
      }

      hr {
        display: none;
      }
    }
  }

  @media screen and (min-width: $tabletLandscape) {
    .white-wave {
      top: -100px;
    }

    .products-list {
      position: relative;
      top: 30px;
    }
  }

  @media screen and (min-width: $desktopMedium) {
    min-height: 300px;
    .white-wave {
      top: -90px;
    }
    img {
      width: 1980px;
    }

    .heading {
      top: 60px;
    }

    .products-list {
      position: relative;
      top: 40px;
    }
  }

  @media screen and (min-width: 1440px) {
    min-height: 550px;

    .white-wave {
      top: -90px;
    }

    .heading {
      top: 45px;

      p {
        padding-right: 250px;
        padding-left: 250px;
        font-size: 18px;
      }
    }

    .products-list {
      position: relative;
      top: 55px;
    }
  }

  @media screen and (min-width: 1880px) {
    min-height: 580px;

    .white-wave {
      top: -120px;
    }

    .heading {
      top: 35px;

      h3 {
        font-size: 50px;
      }

      p {
        padding-right: 400px;
        padding-left: 400px;
        font-size: 20px;
      }
    }

    .products-list {
      position: relative;
      top: 20px;
    }
  }

  @media screen and (min-width: $tabletLandscape) {
    .heading {
      top: 40px;

      h3 {
        font-size: 2.5em;
        color: $dark_blue;

        padding: 0 90px;
        margin: 20px 0 15px;
      }

      p {
        font-size: 1em;
        padding: 0 80px 30px;
        color: $dark_grey;
      }
    }
  }
}
