// variables
$padding: 30px;

$line-height: 1.4;

// Function to
// Convert Px to Ems
@function em($px, $bc: 16) {
  @return #{$px/$bc}em;
}

// Media Query Breakpoints
$desktopMedium: em(1200);
$tabletLandscape: em(1024);
$tabletPortrait: em(760);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$link-hover-selector: "&:hover, &:focus, &:active";
